# Dependencies
node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example

# Databases
*.sqlite
*.sqlite3
*.db

# Logs & temp
*.log
dist/
build/
.DS_Store
Thumbs.db

# Local persistent data
data/
